.navbar
  .site-name
    display: none;

pre.vue-container
  border-left-width: .5rem;
  border-left-style: solid;
  border-color: #faad3f;
  border-radius: 0px;
  & > code
    font-size: 14px !important;
    & > p
      margin: -5px 0 -20px 0;
    code
      background-color: #faad3f !important;
      padding: 3px 5px;
      border-radius: 3px;
      color #000
    em
      color #808080
      font-weight light

.custom-block.tip
  background-color: #f8f8f8
  border-color: #faad3f
